* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	color: white;
	background: #bdc3c7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#2c3e50,
		#bdc3c7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#2c3e50,
		#bdc3c7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: Lato, sans-serif;
	margin-top: 40px;
}

h1 {
	color: #1b1b32;
	font-size: 25px;
	font-family: Roboto, sans-serif;
	text-align: center;
	margin: 20px 0;
}

.aplicacion-tareas {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

/*LOGO FREECODECANMP*/

.freecodecamp-logo-contenedor {
	width: 100%;
	margin: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tareas-lista-principal {
	width: 600px;
	min-height: 500px;
	background-color: #d0d0d5;
	padding: 25px;
	margin: 10px;
	border-radius: 26px;
}
